{
  "processors": ["stylelint-processor-html"],
  "extends": "stylelint-config-standard",
  "rules": {
      "declaration-colon-newline-after": null,
      "value-list-comma-newline-after": null,
      "selector-pseudo-element-colon-notation": null
  }
}