/*
Global styles
*/
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/*
Layout container: header, main, footer
*/
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}
/*
Header
*/
header {
    height: 7rem;
}
/*
Main
Item from container: get all space available
*/
main {
    flex-grow: 1;
}

/* Arrows with CSS: https://codepen.io/tu4mo/pen/BLyGRv */
.arrow-up {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
}
.arrow-down {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}
.arrow-down--double {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    margin-bottom: -5px;
}
@media (min-width: 700px) {
    footer {
        height: 7rem;
    }
}